.why-branding .benefits {
  display: block;
  margin: 20px 0 10px 0px;
}

.why-branding .benefits li {
  margin-bottom: 12px;
  font-size: 20px;
  font-family: "figtree-light", sans-serif;
  color: #333;
}

.why-branding .benefits li span {
  font-family: "barlowcondensed-medium", sans-serif;
  background: linear-gradient(to right, #f47627, #fca951);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}

h5 {
  font-family: "barlow-regular";
  font-size: 25px;
}