.what-we-do-section {
  background-color: #012348;
  color: #fff;
  padding: 40px 0 100px 0;
}

.what-we-do-section h2 {
  margin-bottom: 10px;
}

.what-we-do-section p {
  margin-bottom: 20px;
}

.what-we-do-section .button {
  display: inline-block;
  background: linear-gradient(45deg, #f37022, #fbaa4f);
  padding: 8px 18px;
  border-radius: 25px;
  font-family: "barlow-regular";
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.what-we-do-section .row > div {
  position: relative;
}

.what-we-do-business-img img {
  border-radius: 40px;
  display: block;
  max-width: 100%;
  height: auto;
}

.what-we-do-branding-img img {
  border-radius: 40px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

.what-we-do-business-txt {
  background: #012348;
  border-radius: 15px;
  width: 430px;
  position: absolute;
  top: -15px;
  left: 210px;
  padding: 30px 0 15px 15px;
  z-index: 2;
}

.what-we-do-business-txt p {
  margin-bottom: 6px;
  line-height: 1.2;
}

.what-we-do-business-txt a {
  margin-bottom: 0px;
  line-height: 1.2;
}

.what-we-do-branding-img {
  text-align: right;
}

.what-we-do-branding-txt {
  background: #012348;
  border-radius: 15px;
  width: 410px;
  position: absolute;
  bottom: -15px;
  left: 0;
  padding: 15px 10px 30px 0;
  z-index: 2;
}

.what-we-do-branding-txt p {
  margin-bottom: 6px;
  line-height: 1.2;
}

.what-we-do-branding-txt a {
  margin-bottom: 0px;
  line-height: 1.2;
}

.what-we-do-business-txt a,
.what-we-do-branding-txt a {
  font-family: "figtree-light";
  text-transform: unset;
  background: transparent;
  color: #85cef9;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  font-size: 18px;
  margin: auto;
}

.what-we-do-business-txt a:hover,
.what-we-do-branding-txt a:hover {
  background: linear-gradient(45deg, #e95c01, #f4a304);
  background: fill;
  background-clip: text;
  -webkit-text-fill-color: #0000;
}

@media (max-width: 1440px) {
  .what-we-do-business-txt {
    width: 410px;
    left: 200px;
    padding: 22px 22px;
  }

  .what-we-do-branding-txt {
    width: 390px;
    padding: 22px 22px;
  }
}

@media (max-width: 1366px) {
  .what-we-do-business-txt {
    width: 380px;
    left: 190px;
    padding: 20px 20px;
  }

  .what-we-do-branding-txt {
    width: 360px;
    padding: 20px 20px;
  }
}

@media (max-width: 1200px) {
  .what-we-do-business-txt {
    width: 330px;
    left: 170px;
    padding: 30px 0 15px 15px;
  }

  .what-we-do-branding-txt {
    width: 310px;
    padding: 15px 15px 30px 0;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 16px;
    line-height: 1.1;
  }
}

@media (max-width: 991px) {
  .what-we-do-section {
    padding: 30px 0 50px 0;
    text-align: center;
  }

  .what-we-do-business-img,
  .what-we-do-branding-img {
    text-align: center;
  }

  .what-we-do-business-img img,
  .what-we-do-branding-img img {
    margin: 0 auto;
    border-radius: 25px;
  }

  .what-we-do-branding-img {
    margin-top: 30px;
  }

  .what-we-do-business-txt,
  .what-we-do-branding-txt {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    max-width: 420px;
    margin: -130px 0 0 0;
    padding: 20px 25px;
    text-align: left;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 20px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 17px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .what-we-do-section {
    padding: 20px 0 20px 0;
  }

  .what-we-do-section a {
    font-size: 14px;
  }

  .what-we-do-business-img img,
  .what-we-do-branding-img img {
    border-radius: 15px;
  }

  .what-we-do-business-txt,
  .what-we-do-branding-txt {
    margin: -130px 10px 0px 10px;
    padding: 15px 20px;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 18px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 15px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .what-we-do-business-txt,
  .what-we-do-branding-txt {
    margin: -90px 10px 0px 10px;
    padding: 12px 18px;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 17px;
    margin-bottom: 6px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 14.5px;
    margin-bottom: 10px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 13.5px;
  }
}

@media (max-width: 480px) {
  .what-we-do-business-txt,
  .what-we-do-branding-txt {
    margin: -80px 5px 0px 5px;
    padding: 12px 15px;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 16px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 13.5px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .what-we-do-business-txt,
  .what-we-do-branding-txt {
    margin: -60px 0 10px 0;
    padding: 10px 12px;
  }

  .what-we-do-business-txt h3,
  .what-we-do-branding-txt h3 {
    font-size: 15px;
  }

  .what-we-do-business-txt p,
  .what-we-do-branding-txt p {
    font-size: 13px;
  }

  .what-we-do-business-txt a,
  .what-we-do-branding-txt a {
    font-size: 12.5px;
  }
}