/* --------------------- SERVICES SECTION ------------------------- */
.services-section {
  padding: 20px 155px;
}

.services-section img {
  border-radius: 15px;
}

.content-2 {
  display: none;
}

.content-txt {
  position: relative;
  height: 0;
  top: -310px;
  color: #fff;
  width: 510px;
  left: 500px;
}

.content-txt a:hover {
  background: linear-gradient(45deg, #e95c01, #f4a304);
  background: fill;
  background-clip: text;
  -webkit-text-fill-color: #0000;
}

.market {
  padding-top: 16px;
}

.market-txt {
  position: relative;
  top: -385px;
  height: 0;
  color: #fff;
  padding: 0 50px;
}

.market-txt a:hover {
  background: linear-gradient(45deg, #e95c01, #f4a304);
  background: fill;
  background-clip: text;
  -webkit-text-fill-color: #0000;
}

.tech-2 {
  display: none;
}

.tech-txt {
  position: relative;
  height: 0;
  color: #fff;
  top: -800px;
  padding: 0 60px;
}

.tech-txt h3 {
  font-size: 25px;
  margin-bottom: 35px;
}

.tech-txt a {
  color: #85cef9;
}

.tech-txt a:hover {
  background: linear-gradient(45deg, #e95c01, #f4a304);
  background: fill;
  background-clip: text;
  -webkit-text-fill-color: #0000;
}

@media (max-width: 767px) {
  .services-section {
    padding: 20px 0px;
  }

  .content-1 {
    display: none;
  }

  .content-2 {
    display: block;
  }

  .content-txt {
    top: -360px;
    width: auto;
    left: 0px;
    margin: 0 20px;
    padding: 0 0 10px 0;
  }

  .content-txt h3 {
    margin-top: 10px;
  }

  .market {
    font-size: 16px;
  }

  .market-txt {
    top: -270px;
    padding: 0 20px;
  }

  .market-txt h3 {
    margin-top: 10px;
  }

  .tech-txt {
    margin-top: -580px;
    height: 606px;
    top: 0;
    padding: 0 20px;
  }

  .tech-txt h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services-section {
    padding: 20px 0px;
  }

  .content-txt {
    top: -250px;
    width: 400px;
    left: 320px;
  }

  .market {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .market-txt {
    top: -280px;
    padding: 0 37px;
  }

  .tech-1 {
    display: none;
  }

  .tech-2 {
    display: block;
  }

  .tech-txt {
    top: -230px;
    padding: 0 40px;
    width: 500px;
  }

  .tech-txt h3 {
    margin-bottom: 15px;
  }

  .content-txt h3,
  .market-txt h3,
  .tech-txt h3 {
    font-size: 16px;
  }

  .content-txt h3,
  .market-txt h3 {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1099px) {
  .services-section {
    padding: 20px 20px;
  }

  .content-txt {
    top: -230px;
    width: 340px;
    left: 290px;
  }

  .market-txt {
    top: -250px;
    padding: 0 15px;
  }

  .tech-txt {
    top: -525px;
    padding: 0 15px;
  }

  .tech-txt h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .services-section {
    padding: 20px 20px;
  }

  .content-txt {
    top: -265px;
    width: 400px;
    left: 320px;
  }

  .market-txt {
    top: -275px;
    padding: 0 15px;
  }

  .tech-txt {
    top: -575px;
    padding: 0 15px;
  }

  .tech-txt h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .services-section {
    padding: 20px 20px;
  }

  .content-txt {
    top: -290px;
    width: 400px;
    left: 340px;
  }

  .market-txt {
    top: -300px;
    padding: 0 26px;
  }

  .tech-txt {
    top: -615px;
    padding: 0 15px;
  }

  .tech-txt h3 {
    margin-bottom: 10px;
  }
}

@media (min-width: 1321px) and (max-width: 1400px) {
  .services-section {
    padding: 20px 50px;
  }

  .content-txt {
    top: -280px;
    width: 410px;
    left: 360px;
  }

  .market-txt {
    top: -310px;
    padding: 0 37px;
  }

  .tech-txt {
    top: -625px;
    padding: 0 20px;
  }

  .tech-txt h3 {
    margin-bottom: 10px;
  }
}

@media (min-width: 1401px) and (max-width: 1499px) {
  .services-section {
    padding: 20px 50px;
  }

  .content-txt {
    width: 420px;
    left: 390px;
  }

  .market-txt {
    top: -340px;
  }

  .tech-txt {
    top: -680px;
    padding: 0 30px;
  }
}

@media (min-width: 1500px) and (max-width: 1599px) {
  .services-section {
    padding: 20px 50px;
  }

  .content-txt {
    width: 440px;
    left: 440px;
  }

  .market-txt {
    top: -350px;
    padding: 0 25px;
  }

  .tech-txt {
    top: -705px;
    padding: 0 30px;
  }
}

@media (min-width: 1600px) and (max-width: 1730px) {
  .services-section {
    padding: 20px 80px;
  }

  .content-txt {
    width: 410px;
  }

  .market-txt {
    top: -360px;
  }

  .tech-txt {
    top: -730px;
  }
}

@media (min-width: 1731px) and (max-width: 1830px) {
  .content-txt {
    width: 450px;
  }
}