/* --------------------- ARTICLES SECTION ------------------------- */
.articles-section {
  padding: 40px 0;
}

.articles-section h2 {
  margin-bottom: 10px;
}

.artciles-section-paragraph {
  margin-bottom: 30px;
}

.articles-section-txt {
  text-align: center;
  width: 333px;
  margin: 0 auto;
}

.articles-section-arrow-bg img {
  position: relative;
  top: -33px;
  width: 90px;
  border-radius: 0;
}

.articles-section-arrow-bg i {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 14px 15px;
  margin: -60px auto 10px auto;
  width: fit-content;
  color: #000;
  display: block;
  position: relative;
  transform: rotate(315deg);
  transition: all 0.5s ease;
}

.articles-section-arrow-bg i:hover {
  transform: rotate(675deg);
}

.articles-section-card-hover {
  color: black;
  display: block;
  text-decoration: none;
  width: 90%;
  margin-bottom: 50px;
}

.articles-section-img-wrapper {
  border-radius: 15px;
  overflow: hidden;
  display: block;
}

.articles-section-img-wrapper img {
  display: block;
  width: 100%;
  border-radius: 15px;
  transition: transform 0.4s ease;
  transform-origin: center center;
}

.articles-section-card-hover:hover .articles-section-img-wrapper img {
  transform: scale(1.03);
}

.articles-section-card-hover:hover .fa-arrow-right {
  color: #fff;
  background: #f6802f;
  transform: rotate(356deg);
  border-color: #fff;
}

@media (max-width: 1200px) {
  .articles-section {
    padding: 35px 0;
  }
  .articles-section-txt {
    width: auto;
  }
  .articles-section-card-hover {
    margin-bottom: 45px;
  }
  .articles-section-inside-body-text {
    margin-top: 25px;
  }
  .articles-section-inside-title-box h2 {
    font-size: 38px;
  }
}

@media (max-width: 991px) {
  .articles-section {
    padding: 30px 0;
  }
  .articles-section-txt {
    width: auto;
  }
  .articles-section-card-hover {
    margin-bottom: 40px;
  }
  .articles-section-arrow-bg img {
    top: -31px;
    width: 81px;
  }
  .articles-section-arrow-bg i {
    padding: 12px 13px;
    margin: -54px auto 10px auto;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .articles-section {
    padding: 20px 0;
  }
  .articles-section-txt {
    width: auto;
  }
  .articles-section-card-hover {
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .articles-section {
    padding: 15px 0;
  }
  .articles-section-card-hover {
    width: 60%;
    margin: 0 auto 30px;
  }
  .articles-section-img-wrapper {
    display: block;
    margin: 0 auto;
  }
  .articles-section-img-wrapper img {
    margin: 0 auto;
  }
  .articles-section-txt p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .articles-section {
    padding: 10px 0;
  }
  .articles-section-card-hover {
    margin-bottom: 25px;
  }
  .articles-section-txt p {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .articles-section-card-hover {
    margin-bottom: 15px;
  }
  .articles-section-txt p {
    font-size: 15px;
  }
}

/* --------------------- ARTICLES INSIDE PAGES STYLES ------------------------- */
.articles-section-inside-page {
  padding: 40px 0;
  display: block;
}

.articles-section-inside-img img {
  border-radius: 15px;
  width: 100%;
}

.articles-section-inside-title-box h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.articles-section-inside-title-box p {
  margin-bottom: 0;
}

.articles-section-inside-desc {
  margin: 10px 0 0 0;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}

.articles-section-inside-desc p {
  margin-bottom: 0;
}

.articles-section-mobile-only-desc {
  display: none;
}

.articles-section-inside-body-text {
  margin-top: 30px;
}

.articles-section-inside-body-text p {
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  .articles-section-inside-title-box h2 {
    font-size: 34px;
  }
  .articles-section-inside-desc {
    margin: 5px 0 0 0;
  }
}

@media (max-width: 1366px) {
  .articles-section-inside-page {
    padding: 35px 0;
  }
  .articles-section-inside-title-box h2 {
    font-size: 32px;
  }
}

@media (max-width: 1200px) {
  .articles-section-inside-page {
    padding: 35px 0;
  }
  .articles-section-inside-title-box h2 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .articles-section-inside-page {
    padding: 30px 0;
  }
  .articles-section-inside-title-box h2 {
    font-size: 28px;
  }
  .articles-section-inside-desc {
    display: none !important;
  }
  .articles-section-mobile-only-desc {
    display: block !important;
  }
  .articles-section-inside-body-text {
    margin-top: 20px;
  }
  .articles-section-inside-body-text p {
    line-height: 1.5;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .articles-section-inside-page {
    padding: 20px 0;
  }
  .articles-section-inside-title-box h2 {
    font-size: 24px;
  }
  .articles-section-inside-page p {
    text-align: justify;
    line-height: 1.3;
  }
  .articles-section-inside-page .row {
    display: flex;
    flex-direction: column;
  }
  .articles-section-inside-page .row > div:nth-child(1) {
    order: 2;
  }
  .articles-section-inside-page .row > div:nth-child(2) {
    order: 1;
  }
  .articles-section-inside-page .row > div:nth-child(3) {
    order: 3;
  }
  .articles-section-inside-img {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  .articles-section-inside-img img {
    width: 80% !important;
    margin: 0 auto;
    display: block;
  }
  .articles-section-inside-body-text {
    margin-top: 15px;
  }
  .articles-section-inside-body-text p {
    line-height: 1.4;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .articles-section-inside-page {
    padding: 10px 0;
  }
  .articles-section-inside-title-box h2 {
    font-size: 22px;
  }
  .articles-section-inside-img {
    margin-top: 6px;
  }
  .articles-section-inside-img img {
    width: 70% !important;
  }
  .articles-section-inside-body-text {
    margin-top: 15px;
  }
  .articles-section-inside-body-text p {
    line-height: 1.4;
    margin-bottom: 10px;
  }
}