<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Remove WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.lumos\.in$" />
          </conditions>
          <action type="Redirect" url="https://lumos.in/{R:1}" redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>